fieldset{
    position: relative;
    border-radius: 5px;
    border-color: #efefef;
    border-style: solid;
    legend{
        margin-left: 10px;
        color: #ccc;
    }
    select, input[type="date"], input[type="number"]{
        width: 100%;
        height: 45px;
        border: 0 !important;
        padding: 10px;
        font-size: 14px;
        &:focus{
            outline: none;
        }
    }
    .display{
        position: absolute;
        background-color: #fff;
        padding: 12px;
        font-size: 14px;
        height: 100%;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    .calendar {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 20px;
    }
}

:host(.error){
    fieldset{
        border-color: #ffcccc;
        legend{
            color: #ff2323;
        }
    }
}
