<fieldset [ngClass]="{'mandatory' : isMandatory}">
    <legend>{{labelTxt}} <span *ngIf="isMandatory" style="color:red">*</span></legend>
    <ng-container [ngSwitch]="inputType">
        
        <span *ngSwitchCase="inputTypeEnum.select">
            <span class="display">{{displayedValue}}</span>
            <select (change)="onChange($event)" name="{{labelTxt}}">
                <option value="">--Select--</option>
                <option *ngFor="let option of options" value="{{option.code}}">{{option.name}}</option>
            </select>
        </span>

        <span *ngSwitchCase="inputTypeEnum.date">
            <input type="date" id="start" name="start"
             (change)="onChange($event)"
            [min]="todayDate"/>
            <i class="calendar fa fa-calendar" aria-hidden="true"></i>
        </span>

        <span *ngSwitchCase="inputTypeEnum.input">
            <input type="number" id="passenger" name="passenger" value="0"
             (change)="onChange($event)"/>
        </span>

        <span *ngSwitchDefault>
            Hello
        </span>
    </ng-container>
</fieldset>