.container{
    padding:10px;
    .locations{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        > div{
            padding: 5px;
            flex-grow: 1;
            min-width: 500px;
        }
    }
    .duration, .additional{
        margin-top: 20px;
        display: flex;
        > div{
            padding: 5px;
            flex-grow: 1;
        }
    }
    .cta{
        margin-top: 40px;
        text-align: center;
    }
}