<header>
    <div class="container">
        <div class="menu">
            <div id="curtain" [ngClass]="{'active': isMenuActive}">
                <span></span>
                <span></span>
                <span></span>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
                <div class="toggle" (click)="onToggle()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
              </div>
        </div>
        <div class="logo">
            <div><h1>Airline Reservation System</h1></div>
            <!-- <img src="../../../assets/img/logo.jpg" alt="travel drama free" /> -->
        </div>
    </div>
</header>
