<main-header></main-header>

<div class="container">
    <tab-content>
      <tab-handle [tabTitle]="'Flights'" [tabIcon]="'fa fa-plane'">
        <search-flights></search-flights>
      </tab-handle>
      <tab-handle [tabTitle]="'Hotels'" [tabIcon]="'fa fa-building'">
        <span>Content of tab Hotels</span>
      </tab-handle>
      <tab-handle [tabTitle]="'Cars'" [tabIcon]="'fa fa-car'">
        <span>Content of tab Flights</span>
      </tab-handle>
      <tab-handle [tabTitle]="'Activity'" [tabIcon]="'fa fa-flag-o'">
        <span>Content of tab Flights</span>
      </tab-handle>
    </tab-content>
  </div>
