@import '../../../assets/stylesheet/variables';
ul{
    display: flex;
    li{
        cursor:pointer;
        text-decoration: none !important;
        margin: 10px 5px;
        padding: 5px 10px;
        list-style: none;
        border-bottom: 2px solid #ccc;
        color: #888;
        width: 25%;
        &.active{
          color: $theme-color;
          border-color: $theme-color;
        }
      }  
  }