@import '../../../assets/stylesheet/variables';
header{
    background-color: $theme-color;
    color: #fff;
    .container{
        display: flex;
        padding: 10px;
        .back{
            font-size: 1.2em;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .header-content{
            flex-grow: 1;
            text-align: center;
            .dest{
                i.fa{
                    padding: 0px 5px;
                }
            }
            .details{
                margin-top: 5px;
                display: flex;
                justify-content: center;
                div:last-child{
                    border-left: 1px solid #ccc;
                    padding-left: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
}